* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #f4f6fa;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h4 {
  text-align: center;
  color: #2563eb;
  margin: 30px auto;
}

main {
  display: grid;
  place-items: center; 
  padding: 40px 0;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background: #2563eb; */
  margin: 40px;
}
/*************************************************/
            /* INDEX PAGE STYLES */
/*************************************************/
#adminLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.862);
  display: grid;
  place-items: center;
  visibility: hidden; /* Hidden by default */
}
/*************************************************/
            /* FORM */
/*************************************************/
.loginBox {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: 60%;
  max-width: 800px;
  height: 420px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: auto;
}

.blueSection {
  width: 100%;
  height: 420px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.blueSection img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

/* Login form container */
.loginForm {
  padding-left: 80px;
  padding-top: 20px;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Heading */
.loginForm h4 {
  font-size: 1.8em;
  color: #2563eb;
  text-align: center;
  margin-bottom: 20px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items:center;
  place-items: center;
  gap: 15px;
  width: 100%;
}

/* Inputs */
.login-form input {
  border: none;
  border-bottom: 2px solid #2563eb;
  font-size: 1em;
  background: transparent;
  padding: 10px 5px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  outline: none;
  border-color: #1d4ed8;
}

/* Button */
.login-form button {
  border: none;
  background-color: #2563eb;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1em;
  padding: 12px 0;
  cursor: pointer;
  width: 80%;
  transition: background-color 0.3s ease;
}
#back {
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  color: #2563eb;
}
#back:hover {
  text-decoration: underline;
}

.login-form button:hover {
  background-color: #1d4ed8;
}

/* Forgot password link */
.login-form > a {
  text-decoration: none;
  color: #2563eb;
  font-size: 0.9em;
  text-align: right;
  display: block;
}

/* Error message */
.error {
  color: #C21807;
  font-size: 0.9em;
  text-align: center;
}

.indexHeader {
  display: grid;
  grid-template-columns: 8fr 2fr 1fr;
  align-items: center;
}


#indexHeaderRight > a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  color: #2563eb;
  letter-spacing: 0.1px;
  
}
#indexHeaderRight > a:hover {
  text-decoration: underline;
}
#userLogin {
  border: 2px solid #2563eb;
  background: #fff;
  color: #2563eb;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 30px;
  margin-left: 50px;
}
#userLogin:hover {
  background: #2563eb;
  color: #fff;
  text-decoration: none;
}
#index {
  display: grid;
  place-items: center; 
  padding:50px 100px;
  grid-template-columns: 4fr 2fr; 
  gap: 40px; 
}
.indexText {
  width: 100%;
  height: 400px;
  padding: 70px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}
  .indexText p {
    line-height: 1.6;
    font-size: 1.1em;

  }
  .big {
    font-size: 2.3em;
    font-weight: 550;
    text-align: center;
  }
  .blue {
    color: #2563eb;
  }
  #intro {
    line-height: 1;
    font-size: 1em;
    font-weight: 450;
    margin-top: 20px;
    line-height: 1.2;
    text-align: justify;
  }
  .introImg {
  width: 100%;     
  height: 400px; 
  /* background: #2563eb; */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .indexText > a {
    font-size: 1em;
    color: #2563eb;
    margin-top: 20px;
    text-decoration: none;
    float: right;
  }
/*************************************************/
            /* LOGIN FORM STYLES */
/*************************************************/


.roleToggle {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr); 
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.role {
  cursor: pointer;
  position: relative;
  border-bottom: none;
  font-size: 16px;
}

.role.active {
  font-weight: bold;
}

.role.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 100%;
  height: 2px;
  background-color: #2563eb;
  border-radius: 2px;
}

footer {
  text-align: center;
  padding: 40px;
  font-size: .9em;
  border-top: 1px solid #ddd;
  color: #555;
}
/*************************************************/
                /* LOG OUT STYLES */
/*************************************************/
.logOutBox {
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 10;
  padding:20px 20px;
  background: #ffffff;
  height: 90px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
.logOutBox > a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 400;
  font-size: .9em;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
/*************************************************/
            /* DATABASE ERROR STYLES */
/*************************************************/
.errorBox {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 30px 40px;
      width: 50%;
      max-width: 600px;
      align-self: center;
      justify-self: center;
      text-align: left; 
    }

    .errorBox h2 {
      color: #dc2626;
      font-size: 26px;
      margin-bottom: 20px;
    }

    .errorBox > p {
      font-size: 16px;
      margin: 10px 0;
      color: #444;
      line-height: 1.6;
    }
    .errorBox a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      color: #2563eb;
      font-weight: 600;
    }

    .errorBox a:hover {
      text-decoration: underline;
      color: #2563eb;
    }
/*************************************************/
          /* ADMIN DASHBOARD STYLES */
/*************************************************/

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.user-info {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;
  color: #333;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 40px;
}
.profile-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.header .nav {
  text-align: center;
  align-self: end;
  padding-bottom: 30px !important;
  display: inline-block !important; 
}

.header .nav a {
  margin: 0 50px;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: 550;
  display: inline-block;
  padding-bottom: 4px;

}

.header .nav .active {
   border-bottom: 2px solid #2f65f9 !important;
}

.user-info {
  text-align: right;
  font-size: 1em;
}

.main-content {
  padding: 40px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin: auto; /* top 0, left/right auto, bottom 30px */
  width: 60%
}

.stat-box {
  background: #006aff;
  padding: 20px;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px #0000001a;
  align-items: center;
  display: grid;
  justify-items: center;
}

.stat-box p {
  font-size: 1em;
  color: #fff;
  margin: 0;
}

.stat-box h2 {
  font-size: 32px;
  margin: 10px 0 0;
  color: #fff;
}

.tasks-box {
  background: #fff;
  border-radius: 10px;
  width: 60%;
  padding: 20px 70px;
  padding-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.tasks-box > h4 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.3em;
  margin-bottom: 30px;
  text-align: left;
  color: #000;
}
.tasks-box > h4 > a{
  color: #2f65f9;
  font-size: .7em;
}

.task-list {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.task-list li {
  font-size: 1em;
  padding: 18px 20px;
  margin-bottom: 15px;
  background: #edf4fb;
  border-radius: 8px;
}

  .active-courses {
  width: 60%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 70px;
  margin-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0 4px 6px #0000001a;
}

.active-courses > h4 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.3em;
  color: #000;
  text-align: left;
  margin-bottom: 30px;
}
.active-courses > h4 > a {
  color: #2f65f9;
  font-size: .7em;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 20px;
}

.course-card {
  display: flex;
  align-items: center;
  background: #edf4fb;
  border-radius: 8px;
  padding: 20px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.002);
  transition: transform 0.2s;
}

.course-card:hover {
  transform: translateY(-3px);
}

.course-thumb {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.course-info h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.course-info .instructor {
  margin: 4px 0 0;
  font-size: 0.875rem;
  color: #666;
}

/*************************************************/
              /* UPDATE ADMIN STYLES */
/*************************************************/
#updateAdmin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.961);
  display: grid;
  place-items: center;
  visibility: hidden;
}
.updateAdminBox {
  width: 60%;
  margin: 40px auto;
  padding: 50px 70px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.updateAdminBox h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2em;
  color: #2f65f9;
}

.adminProfile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 70px;
  place-items: center;
}

.adminImage {
  text-align: center;
}

.adminImage img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #2f65f9;
}
.adminDetails {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

form {
  display: grid;
  grid-auto-flow: row;
  width: 90%;
}


 label {
  margin: 10px 0 4px;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

 input[type="text"],
 input[type="email"], textarea,
 input[type="password"],
 input[type="tel"],
 input[type="date"] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  color: #706f6f;
}

 small {
  font-size: 12px;
  color: #777;
  margin-top: 2px;
}

 button {
  margin-top: 16px;
  padding: 10px;
  background: #2f65f9;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

 button:hover {
  background: #1c47c2;
}

 .adminDetails a {
  margin-top: 12px;
  font-size: 13px;
  color: #444;
  text-decoration: none;
}

 .adminDetails a:hover {
  text-decoration: underline;
}

  input[type="file"]::file-selector-button {
  background: #0095ff;
  color: #fff;
  border: none;
  padding: 0.6em 1em;
  cursor: pointer;
  border-radius: 4px;
}
.cancel {
  background: transparent;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ccc;
  color: #333;
}
.cancel:hover {
  background: #eee;
}
/*************************************************/
        /* ADMIN MANAGE INSTRUCTOR STYLES */
/*************************************************/
#manageInstructorMain {
  padding: 50px 100px;
  margin: 0;
  align-items: start;
}
/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
td {
  vertical-align: middle;
  text-align: center;     
}

td form {
  margin: 0;              
  display: inline-block;   
}

th {
  background-color: #474747;
  color: #fff;
  font-weight: 400;
}
#manageInstructorMain > p > button {
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
#manageInstructorMain > p > a {
  color: #2563eb;
}
button i {
  color: #333;
}

button i:hover {
  color: #007bff;
}

/*************************************************/
        /* ADMIN ADD INSTRUCTOR STYLES */
/*************************************************/
#addInstructorMain {
  padding: 40px 20px;
  background-color: #f6f8fa;
}
#addInstructorMain h2 {
  color: #2563eb;
  margin-bottom: 20px;
}
#addUpdateForm {
  background-color: #fff;
  padding: 40px 30px;
  padding-left: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Form Rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.form-row button {
  margin-left: 20px;
}

/* Each Form Group */
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

/* Input Fields & Labels */
label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
  margin-top: 20px;
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea,select,
input[type="file"]{
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}

input[type="file"] {
  border: none;
  padding: 0;
}

input:focus,
textarea:focus {
  border-color: #0077cc;
}

/* Button Styling */
.inline-form {
  display: inline;
  margin-right: 6px;
}

.inline-form button {
  font-size: 1.25em;
  border: none;
  background: transparent;
  cursor: pointer;
}
#overlay {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  backdrop-filter: blur(2px);
}

#deletePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 12px;
  padding: 3em;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  z-index: 5;
  width: 30em;
  max-width: 90%;
  text-align: center;
}

#deletePopup p {
  font-size: 1em;
  margin-bottom: 1.5em;
  color: #000;
}
#popupDeleteForm {
  width: 100%;
}

.popup-buttons {
  clear: both;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2em;
}

#popupDeleteForm button {
  padding: 0.6em 1.5em;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#popupDeleteForm .confirm {
  background-color: #e74c3c;
  color: #fff;
} 

#popupDeleteForm .confirm:hover {
  background: #c0392b;
}

#popupDeleteForm .cancel {
  background: #ccc;
  color: #333;
}

#popupDeleteForm .cancel:hover {
  background-color: #bbb;
}

    #delete {
      background: #ae0d01;
      text-align: center;
    }
    #delete:hover {
      background: #a9aaab;
    }


#container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* centers the container horizontally */
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#container h1 {
  font-size: 24px;
  color: #2f65f9;
  margin-bottom: 10px;
}

#container h2 {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

#container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
  margin-bottom: 20px;
}

#container p {
  font-size: 16px;
  color: #444;
  margin: 10px 0;
  text-align: left;
}

#container p strong {
  color: #000;
}
.status-active {
  background: #b7efb7;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.7em;
}

.status-inactive {
  background: #f7b8b8;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.7em;
}

.status-graduated {
  background: #9fb7f9;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.7em;
}

.status-unknown {
  background: #808080;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.7em;
}
.add-task-form {
  width: 60%;
  margin: auto;
  text-align: center;
}
.add-task-form .form-row {
  width: 100%;
  margin: 0 auto;
}
.tasks-list ol {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.task-item {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  align-items: center;
  justify-content: start;   /* ensures left alignment */
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.task-item.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.task-action a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.task-action .done {
  color: #808080;
  font-style: italic;
}
/*************************************************/
        /* ADMIN ENROLL STYLES */
/*************************************************/

.selectCourse {
  width: 100%;
  display: grid;
  justify-items: center;
}
.selectCourse > #addUpdateForm {
  width: 100%;
  height: auto;
}