* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f4f6fa;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h4 {
  text-align: center;
  color: #2563eb;
  margin: 30px auto;
}

main {
  display: grid;
  place-items: center; /* centers both horizontally and vertically */
  padding: 40px 0;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #2563eb;
  margin: 40px;
}
/*************************************************/
            /* INDEX PAGE STYLES */
/*************************************************/
#adminLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.862);
  display: grid;
  place-items: center;
  visibility: hidden; /* Hidden by default */
}
/*************************************************/
            /* FORM */
/*************************************************/
.loginBox {
  display: grid;
  grid-template-columns: 1fr 1fr; /* better ratio for form:visual */
  width: 60%;
  max-width: 800px;
  height: 420px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: auto;
}

.loginForm {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm h4 {
  font-size: 1.5em;
  color: #2563eb;
  margin-bottom: 25px;
  text-align: center;
}

.login-form {
  display: grid;
  gap: 20px;
  width: 100%;
}

.login-form input {
  border: none;
  border-bottom: 1.5px solid #2563eb;
  font-size: 1em;
  background: transparent;
  padding: 10px 5px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  outline: none;
  border-color: #1d4ed8;
}

.login-form button {
  border: none;
  background-color: #2563eb;
  color: #fff;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1em;
  padding: 10px 0;
  cursor: pointer;
  width: 40%;
  justify-self: center;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #1d4ed8;
}

.login-form > a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 400;
  font-size: 0.9em;
  text-align: right;
  display: block;
}

.blueSection {
  width: 100%;
  height: 100%;
  background-color: #2563eb;
}

.indexHeader {
  display: grid;
  grid-template-columns: 8fr 2fr 1fr;
  align-items: center;
}


#indexHeaderRight > a{
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.1px;
  
}
.button {
  border: 2px solid #2563eb;
  background: #fff;
  color: #2563eb;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 50px;
  margin-left: 20px;

}
#index {
  display: grid;
  place-items: center; /* centers both horizontally and vertically */
  padding:50px 200px;
  grid-template-columns: 2fr 1fr; /* Two equal columns */
  gap: 100px; /* Space between the two columns */
}
.indexText {
  width: 100%;
  height: 400px;
  padding: 50px 70px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* ensures rounded corners apply to both sides */
}
  .indexText p {
    line-height: 1.6;
    font-size: 1.1em;

  }
  .big {
    font-size: 2.3em;
    font-weight: 550;
    text-align: center;
  }
  .blue {
    color: #2563eb;
  }
  #intro {
    line-height: 1;
    font-size: 1em;
    font-weight: 450;
    padding: 40px 0;
    line-height: 1.2;
    text-align: justify;
  }
  .introImg {
  width: 100%;     /* Ensures it's not squished */
  height: 400px; 
  background: #2563eb;
  }
  .indexText > a {
    font-size: 1em;
    color: #2563eb;
    margin-top: 20px;
    text-decoration: none;
    float: right;
  }
/*************************************************/
            /* LOGIN FORM STYLES */
/*************************************************/


.roleToggle {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  /* grid-template-rows: minmax(50px, auto); Single row */
  align-items: center;
  justify-items: center;
  margin: 20px 0;
  margin-bottom: 40px;
}

.role {
  cursor: pointer;
  position: relative;
  border-bottom: none;
  font-size: 16px;
}

.role.active {
  font-weight: bold;
}

.role.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Align underline tightly */
  width: 100%;
  height: 2px;
  background-color: #2563eb;
  border-radius: 2px;
}

footer {
  text-align: center;
  padding: 40px;
  font-size: .9em;
  border-top: 1px solid #ddd;
  color: #555;
}
/*************************************************/
                /* LOG OUT STYLES */
/*************************************************/
.logOutBox {
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 10;
  padding:20px 20px;
  background: #ffffff;
  height: 90px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
.logOutBox > a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 400;
  font-size: .9em;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
/*************************************************/
            /* DATABASE ERROR STYLES */
/*************************************************/
.errorBox {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 30px 40px;
      width: 50%;
      max-width: 600px;
      align-self: center;
      justify-self: center;
      text-align: left; 
    }

    .errorBox h2 {
      color: #dc2626;
      font-size: 26px;
      margin-bottom: 20px;
    }

    .errorBox > p {
      font-size: 16px;
      margin: 10px 0;
      color: #444;
      line-height: 1.6;
    }
    .errorBox a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      color: #2563eb;
      font-weight: 600;
    }

    .errorBox a:hover {
      text-decoration: underline;
      color: #2563eb;
    }
/*************************************************/
          /* ADMIN DASHBOARD STYLES */
/*************************************************/

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.user-info {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;
  color: #333;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 40px;
}
.profile-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.nav {
  text-align: center;
  align-self: end;
  padding-bottom: 30px;
}

.nav a {
  margin: 0 50px;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: 550;
  display: inline-block;
  padding-bottom: 4px;
}

.nav .active {
  border-bottom: 2px solid #2f65f9;
}

.user-info {
  text-align: right;
  font-size: 1em;
}

.main-content {
  padding: 40px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  width: 60%;
}

.stat-box {
  background: #fff;
  padding: 20px;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: grid;
  justify-items: center;
}

.stat-box p {
  font-size: 1em;
  color: #000;
  margin: 0;
}

.stat-box h2 {
  font-size: 32px;
  margin: 10px 0 0;
  color: #2f65f9;
}

.tasks-box {
  background: #fff;
  border-radius: 10px;
  width: 60%;
  padding: 20px 70px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.tasks-box > h4 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.3em;
  margin-bottom: 30px;
  text-align: left;
  color: #000;
}
.tasks-box > h4 > a{
  color: #2f65f9;
  font-size: .7em;
}

.task-list {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.task-list li {
  font-size: 1em;
  margin-bottom: 15px;
}

.active-courses {
  width: 60%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 70px;
  padding-bottom: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.active-courses > h4 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.3em;
  color: #000;
  text-align: left;
  margin-bottom: 30px;
}
.active-courses > h4 > a {
  color: #2f65f9;
  font-size: .7em;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 20px;
}

.course-card {
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 100px;
  width: 85%;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.left-color {
  background: #2f65f9;
  width: 100%;
  height: 100%;
}

.course-card span {
  padding: 15px;
  font-size: 1em;
  color: #000;
  text-align: center;
}
/*************************************************/
              /* UPDATE ADMIN STYLES */
/*************************************************/
#updateAdmin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.961);
  display: grid;
  place-items: center;
  visibility: hidden;
}
.updateAdminBox {
  width: 60%;
  margin: 40px auto;
  padding: 50px 70px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.updateAdminBox h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2em;
  color: #2f65f9;
}

.adminProfile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 70px;
  place-items: center;
}

.adminImage {
  text-align: center;
}

.adminImage img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #2f65f9;
}
.adminDetails {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

 form {
  display: grid;
  grid-auto-flow: row;
  width: 90%;
}


 label {
  margin: 10px 0 4px;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

 input[type="text"],
 input[type="email"], textarea,
 input[type="password"],
 input[type="tel"],
 input[type="date"] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  color: #706f6f;
}

 small {
  font-size: 12px;
  color: #777;
  margin-top: 2px;
}

 button {
  margin-top: 16px;
  padding: 10px;
  background: #2f65f9;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

 button:hover {
  background: #1c47c2;
}

 .adminDetails a {
  margin-top: 12px;
  font-size: 13px;
  color: #444;
  text-decoration: none;
}

 .adminDetails a:hover {
  text-decoration: underline;
}

  input[type="file"]::file-selector-button {
  background: #0095ff;
  color: #fff;
  border: none;
  padding: 0.6em 1em;
  cursor: pointer;
  border-radius: 4px;
}
.cancel {
  background: transparent;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ccc;
  color: #333;
}
.cancel:hover {
  background: #eee;
}
/*************************************************/
        /* ADMIN MANAGE INSTRUCTOR STYLES */
/*************************************************/
#manageInstructorMain {
  padding: 50px 100px;
  margin: 0;
  align-items: start;
}
/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
td {
  vertical-align: middle;
  text-align: left;     
}

td form {
  margin: 0;              
  display: inline-block;   
}

th {
  background-color: #474747;
  color: #fff;
  font-weight: 400;
}
#manageInstructorMain > p > a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
a i {
  font-size: 1.2em;
  margin: 0 20px;
  color: #333;
}

a i:hover {
  color: #007bff;
}

/*************************************************/
        /* ADMIN ADD INSTRUCTOR STYLES */
/*************************************************/
#addInstructorMain {
  padding: 40px 20px;
  background-color: #f6f8fa;
}
#addInstructorMain h2 {
  color: #2563eb;
  margin-bottom: 20px;
}
#addInstructorForm {
  background-color: #fff;
  padding: 40px 30px;
  padding-left: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Form Rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Each Form Group */
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

/* Input Fields & Labels */
label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
  margin-top: 20px;
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea,
input[type="file"] {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}

input[type="file"] {
  border: none;
  padding: 0;
}

input:focus,
textarea:focus {
  border-color: #0077cc;
}

/* Button Styling */
.inline-form {
  display: inline;
  margin-right: 6px;
}

.inline-form input[type="submit"] {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* View button: Blue */
.viewBtn {
  background-color: #007BFF;
}
.viewBtn:hover {
  background-color: #0056b3;
}

/* Update button: Green */
.updateBtn {
  background-color: #28a745;
}
.updateBtn:hover {
  background-color: #1e7e34;
}

/* Delete button: Red */
.deleteBtn {
  background-color: #dc3545;
}
.deleteBtn:hover {
  background-color: #c82333;
}
#deletePopup {
      display: none;
      position: fixed;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      background-color: white;
      border: 1px solid #aaa;
      padding: 50px;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      z-index: 5;
      width: 40em;
      height: 15em;
    }
    #overlay {
      display: none;
      position: fixed;
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 3;
    }
    #delete {
      background: #ae0d01;
    }
    #delete:hover {
      background: #0056b3;
    }
    #deleteConfirm {
      padding-bottom: 40px;
    }